@import './base.css';
@import "tailwindcss";

body {
  background-color: #272544;
}
#app {
  margin: 0 auto;
} 

.scoreController {
  border: 2px solid;
  border-radius: 10px;
  margin: 8px;
  min-width: 80px
}
